/* CRUD BUTTONS */

.btn-add {
    @apply bg-blue-500 border text-white;
}

.btn-add:hover {
    @apply bg-indigo-100 text-sky-400 border border-sky-800;
}

.btn-cancel {
    @apply bg-red-500 border text-white;
}

.btn-cancel:hover {
    @apply bg-red-100 text-red-600 border border-red-500;
}

.btn-warning {
    @apply bg-yellow-500 border text-white;
}

.btn-warning:hover {
    @apply bg-yellow-100 text-yellow-500 border border-yellow-500;
}

.btn-see-more {
    @apply bg-green-600 text-white border;
}

.btn-see-more:hover {
    @apply bg-green-100 text-green-600 border border-green-600;
}

/* Tables */
.crud-table th {
    @apply border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-600 dark:text-slate-200 text-left;
}

.crud-table tbody {
    @apply bg-white dark:bg-slate-800;
}

.crud-table td {
    @apply border-b border-slate-100 dark:border-slate-700 p-4 pl-8;
}

.crud-table tr.content-row {
    @apply text-slate-500 dark:text-slate-400
}

.crud-table tr:hover.content-row {
    @apply transition-all duration-200 bg-slate-200 dark:text-black
}

/* Forms */
form.form-crud {
    @apply rounded border px-8 pt-6 pb-8 mb-4 bg-gray-50 border-gray-400 dark:bg-slate-800 dark:border-neutral-400;
}

/* CRUD INPUTS AND LABELS */

.form-crud-label {
    @apply block text-gray-700 text-sm font-bold mb-2 dark:text-white;
}

select.form-crud-input, input.form-crud-input, textarea.form-crud-input {
    @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:ring;
}

input[type='checkbox'].checkbox-toggle, input[type='checkbox'].checkbox-toggle:checked {
    @apply dark:border-white;
    background-image: none;
    background-color: transparent;
}

input[type='checkbox'].checkbox-toggle:checked:hover, tr:hover input[type='checkbox'].checkbox-toggle{
    @apply border-black bg-transparent dark:border-black;
}

tr:hover span.peerless {
    @apply dark:bg-slate-700 dark:peer-checked:bg-black;
}

.fadding-in {
    animation: fade-in 0.5s ease;
}

@keyframes fade-in {
    from {
        transform: translateY(10%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
